# Python cache files
__pycache__/
*.py[cod]

# Virtual environment
venv/
env/

# Database files
*.sqlite3

# IDE files
.idea/
*.swp
*.sublime-project
*.sublime-workspace

# Logs
*.log

# Environment variables
.env
.venv